*{	margin:0;
	padding:0;
	color: #fff;
	font-family: Trebuchet MS, Cambria;
}

html {
	scroll-behavior: smooth;
}

#home {
	height: 7vh;
	background-color: #333;
}

#topnav {
	overflow: hidden;
	text-align: center;
	vertical-align: center;
	position: fixed; /* Set the navbar to fixed position */
	width: 100%; /* Full width */
	padding-top: 2vh;
	padding-bottom: 2vh;
	background-color: #333;
}
#topnav a {
  	color: #fff;
	font-weight: 900;
	text-align: center;
  	text-decoration: none;
  	font-size: 2.5vh;
	vertical-align: center;
	padding-left: 6vh;
	padding-right: 6vh;
	font-family: Trebuchet MS, Cambria;
	
}
#topnav a:hover {
  	color: black;
  	color: #FFA500;
}
#topnav a:hover:not(.active) 
{
    color: #FFFF00;
}
#topnav a.active {
  	color: #FFA500;
}

.home2 {
	text-align: center;
	height: 100vh;
	background-image: url("images/Canberra Pic.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.homefont {
	font-size: 10vh;
	padding-top: 30vh;
}
.homefont2 {
	font-size: 3vh;
	margin-top:2vh;
}
.homecontact {
	text-align: center;
	vertical-align: middle;
	margin-top: 4vh;
}

#about {
	text-align: center;
	background-image: url("images/About Me Pic.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
.title {
	font-size: 5vh;
	font-weight: bold;
	text-align: center;
	padding-top:15vh;
	color:deepskyblue;
}
.subtitle {
	font-size: 3vh;
	font-weight: bold;
	text-align: center;
	padding-top:2vh;
	color:deepskyblue;
}
.aboutinfo {
	padding-top:8vh;
	padding-left:15vw;
	padding-right:15vw;
	padding-bottom: 5vh;
	min-height: 50vh;
	color: inherit;
}
.picture {
	padding-top: 1vh;
	height: 46vh;
	float:left;
	vertical-align: middle;
}

.abouttext {
	padding-top: 1vh;
	text-align: center;
	font-size: 2vh;
	line-height: 4vh;
	color:inherit;
}

.aboutinfo2 {
	padding-left:15vw;
	padding-right:15vw;
	padding-bottom: 20vh;
	color:white;
}

.aboutinfo2:after {
	content: "";
  	display: table;
  	clear: both;
}

.profile {
  	float: left;
  	width: 47%;
	margin-bottom: 10vh;
	color:inherit;
}

@media screen and (max-width: 600px) {
  	.profile {
   	width: 100%;
  	}
}

.profiletext {
	text-align: left;
	line-height: 4vh;
	padding-top: 2vh;
	color:inherit;
	font-size: 2vh;
}
.aboutsubtitle {
	text-align: center;
	font-size: 3vh;
	font-weight: 900;
	background-color: #fff;
	color: #000;
}



#resume {
	/*background-image: url("images/About Me Pic.jpg");*/
	background-color: #000;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.resumeinfo {
	padding-top: 8vh;
}
.resumecompany {
	text-align: center;
	font-size: 2.5vh;
	padding-top:3vh;
}
.resumedate {
	text-align: center;
	font-size: 2vh;
	padding-top:0.5vh;
}
.resumedetail {
	text-align: center;
	float: center;
	font-size: 2vh;
	padding-top: 1vh;
	line-height: 3vh;
}

.downloadbtn {
	text-align: center;
	margin-top: 8vh;
	padding-bottom: 15vh;
}
.btn {
	background-color: #fff;
	border: none;
	cursor: pointer;
	font-weight: 900;
	color: black;
	font-size: 3vh;
	padding: 2.5vh 5.5vh;
	border-radius: 2vh;
}
.btn:hover {
	background-color: deepskyblue;
	color: #fff;
}



#projects {
	height:120vh;
	background-image: url("images/About Me Pic.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}



#contact {
	height:80vh;
	/*background-image: url("images/Canberra Pic.jpg");*/
	background-color: #333;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.contactinfo {
	text-align: center;
	vertical-align: middle;
	margin-top: 15vh;
}

.contactdet {
	width: 33%;
	height: 30vh;
	float: left;
	text-align: center;
}
/*.contactdet a:hover {
	background-image: url("images/Email.png");
	background-repeat: no-repeat;
	background-attachment: local;
	background-size: 10vh;
	margin-top: -10vh;
	
	z-index: 100;
}*/

.contacttext {
	font-size: 2vh;
	color: #fff;
	text-align: center;
	font-weight:900;
	overflow-x: hidden;
}














.placeholder {
	margin-top: 100px;
	margin-bottom: 100px;
}

.dot {
	height: 100%;
  	width: 100%;
  	background-color: #bbb;
	background-image:url("images/background pic.jpg");
  	border-radius: 50%;
  	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}



